h1 {
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
}

a {
  color: black;
}

body {
  background-color: #a7a2a2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  border: 3px solid black;
  font-size: large;
}

.form-group {
  text-align: center;
}

.jumbotron {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(245, 245, 245);
  border: 3px solid black;
  color: black;
}

.btn {
  margin-top: 20px;
  border: solid 1px black;
  background-color: #dde1e6;
}

.btn:hover {
  background-color: #a7a2a2;
}

.italics {
  font-style: italic;
}

#card-number-output {
  margin-top: 30px;
  margin-bottom: 10px;
  display: none;
  text-align: center;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0.25rem;
  font-size: large;
}

