h1 {
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
}

.form-group {
  text-align: center;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  margin-top: 20px;
  border: solid 1px black;
  background-color: #dde1e6;
}

.italics {
  font-style: italic;
}

#card-number-output {
  margin-top: 30px;
  display: none;
  text-align: center;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

#hide {
  display: none;
}